/*
  Name: Border Module
  Description: Creates the Customa border around the focus area
*/
$submodule-border: 'active' !default;

@if $submodule-border == 'active' {
  $color-application-border: #161616 !default;
  $color-guild-scroller: $color-application-border !default;
  $color-user-container: $color-application-border !default;
  $color-main-text-area: $color-application-border !default;
  $color-title-bar: $color-application-border !default;
  $color-quickswitcher-button-dms: $color-application-border !default;
  $color-server-name-bar: $color-application-border !default;
  $color-members-container: $color-application-border !default;
  $display-title-box-shadow: no !default;

  .container-2lgZY8 {
    .scroller-1Bvpku {
      background-color: $color-guild-scroller;
    }

    .container-3baos1 {
      background-color: $color-user-container;
      margin-bottom: 0;
    }

    .form-2fGMdU {
      min-height: 52px;
      padding: 0;
      background-color: $color-main-text-area;

      &::before {
        display: none;
      }

      .channelTextArea-rNsIhG.channelTextArea-2VhZ6z {
        margin: 0;
        padding-top: 4px;
        background-color: transparent;

        .scrollableContainer-2NUZem {
          background-color: transparent;
        }
      }
    }

    .title-3qD0b-.container-1r6BKw {
      background-color: $color-title-bar;
    }

    .searchBar-6Kv8R2 {
      background-color: $color-quickswitcher-button-dms;
    }

    .membersWrap-2h-GB4 {
      background-color: $color-members-container;

      .members-1998pB, .content-3YMskv, .member-3-YXUe {
        background-color: transparent;
      }
    }

    // TODO
    .header-2V-4Sw {
      .clickable-25tGDB &:hover {
        background-color: $color-server-name-bar;
      }

      background-color: $color-server-name-bar;
    }
  }
}
